<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.event.admin.first_name %>  !</h1>
    <p>
      Une personne s'est inscrite à ton événement <%= @attendance.event.title %> : <%= @attendance.user.first_name %> <%= @attendance.user.last_name %>.
    </p>
    <p>
      Pour accéder à ton espace admin, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>