  <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3 ">Our best events for you </h1>
      <p>Each event is unique, create one or join one.</p>
      <%= link_to "Create event", new_event_path, class:"btn btn-primary" %>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row" style="margin:auto">

    <% @all_events.each_with_index do |event, index| %>

      <div class="card text-white bg-warning" style="width: 18rem; margin:10px" >
        <div class="card-header"><%=event.title%></div>
        <div class="card-body">
          <p class="card-text">
           <%= event.description %><br/>
            Duration : <%= event.duration %>minutes<br/>
            Price :  <%= event.price %> €<br/>
            Location :<%= event.location %><br/>
            By: <%= event.admin.first_name %><br/>
            <%= link_to "Watch the event", event_path(event), class: "btn btn-primary" %> 
          </p>
        </div>
      </div>
      <% end %>
    </div>



    <hr>

  </div> <!-- /container -->

</main>

